*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: darkcyan;
}
.container{

}
.container div span{
	display: inline-block;
	float: left;
}

.header1{
	background-color: gray;
	width: 100em;
	height: 4em;
	display: inline-block;
	float: left;
	border-bottom: 1px solid white;
}
#logo{
	font-family: arial verdana sans-serif;
	font-size: 50px;
	color: white;
	padding-left: 20px;
	width: 150px;
}
#search{
		width: 685px;
		margin: 15px;
		padding-bottom: 10px;
}
#search_bar{
	width: 700px;
	height: 30px;
}
#btn{
	width: 500px;
}
#search_btn{
	margin-top: 15px;
	margin-right: 10px;
	height: 35px;
}
#right{
    float: right;
    padding: 12px 25px;
}
li{
    display: inline-block;
    list-style: none;
    margin: 5px;
}
#C2{
	border-radius: 25px;
	width: 40px;
	height: 40px;
}
/*header1 completed*/
.header2{
	background-color: gray;
	width: 100em;
	height: 4em;
	display: inline-block;
	float: left;
	border-bottom: 1px solid white;
}
.header2_left{
	float: left;
	display: inline-block;
}
#gmail{
	margin: 1.5em;
	width: 130px;
	height: 20px;
}
#check{
	margin: 1.5em;
	width: 80px;
}
#next{
	width: 5em;
	background-color: white;
	height: 1.5em;
}
#check2{
	margin: 1em;
}
.box2{
	float: left;
	display: inline-block;
	width: 5em;
	height: 2.5em;
	background-color: white;
}
.box2 #refresh{
	padding:5px 25px;
}
#refresh{
	height: 30px;
}
#check3{
	margin: 1em;
}
.header2_right{
	float: right;
	display: inline-block;
}
.header2_right span{
	margin: 1em;
}
#img{
	margin-top: 20px;
}
#num{
	padding: 10px 10px;
}

/*Header ka sencond part yahan end hua ab aside pr working start kring*/
.aside{
	width: 10em;
	height: 30em;
	background-color: green;
}
#aside1 button img{
	width: 8em;
	height: 2em;
}
#aside1 a{
	text-decoration: none;
	color: white;
}
.aside table{
	margin: 1em 1em;
}
.mails{
	background-color: white;
	width: 88em;
	border-bottom: 1px solid black;
}
}
.mails ul li{
	display: inline-block;
}
#main_btn li{
	background-color: blue;
	float: center;
	width: 10em;
	height: 2em;
	font-size: 20px;
}
li{
	padding-left: 4em;
	padding-top: 1em;
	font-size: 1em;
}
.main_list table tr td{
	padding-right: 20px;
	height: 2em;
}
#main_items tr{
	border-bottom: 1px solid black;
}
.mailings{
	width: 70em;
}
.date{
	padding-left: 6px;
}
.mails div table tr td{
	border-bottom: 1px solid black;
}