*{
	margin: 0px;
	padding: 0px;
}
body{
	/*background-image: url("../Img/bbb.jpg");*/
	background-color: darkcyan;
	background-position: left center;
	background-repeat: no-repeat;
}
.container{
	color: white;
	font-family: arial verdana sans-serif
	width: 100em;
}
.container div span{
	display: inline-block;
	float: left;
}
.header1{
	width: 100em;
	height: 4em;
	display: inline-block;
	float: left;
	border-bottom: 1px solid white;
}
#logo a{
	text-decoration: none;
	color: white;
}
#logo{
	font-family: arial verdana sans-serif;
	font-size: 50px;
	padding-left: 20px;
	width: 150px;
}
#search{
		width: 685px;
		margin: 15px;
		padding-bottom: 10px;
}
#search_bar{
	width: 700px;
	height: 30px;
}
#btn{
	width: 500px;
}
#search_btn{
	margin-top: 15px;
	margin-right: 10px;
	height: 35px;
}
#right ul{
    float: right;
    padding: 12px 25px;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 5px;
}
#C2{
	border-radius: 25px;
	width: 40px;
	height: 40px;
}
/*=======header1 completed========*/
.header2{
	width: 100em;
	height: 4em;
	display: inline-block;
	float: left;
	border-bottom: 1px solid gray;
}
.header2_left{
	float: left;
	display: inline-block;
}
#gmail{
	margin: 1em;
	width: 130px;
	height: 20px;
}
#gmail_btn{
	border: 1px solid black; 
	width: 6em;
	height: 3em;
	border-radius: 2px;
	padding-left: 17px;
}
#check{
	margin: 1em;
	width: 70px;
}
#next{
	width: 60px;
	border-radius: 2px;
	border: 1px solid white;
	padding: 1em 10px;
	height: 8px;
	padding-left: 20px;
}
#check2{
	border-radius: 2px;
	margin: 1em;
	width: 70px;
	padding-left: 10px;
}
.box2{
	border-radius: 2px;
	float: left;
	display: inline-block;
	width: 5em;
	height: 2.5em;
	border: 1px solid white;
}
.box2 #refresh{
	padding:5px 25px;
}
#refresh{
	height: 30px;
}
#check3{
	margin: 1em;
	width: 80px;
	height: 2em;
}
#box3_btn{
	border: 1px solid black;
	padding-left: 17px;
	width: 6em;
	height: 3em;
	border-radius: 2px;
}
.header2_right{
	float: right;
	display: inline-block;
}
.header2_right span{
	margin: 1em;
}
#img{
	margin-top: 20px;
}
#num{
	padding: 10px 10px;
}

/*=======Header ka sencond part yahan end hua ab aside pr working start kring*/
.aside{
	width: 10em;
	height: 30em;
	border-right: 2px solid gray;
}
#aside1 button{
	background-color: red;
	color: white;
	border-radius: 3px;
	width: 8em;
	height: 2em;
}
#aside1 a{
	text-decoration: none;
	color: white;
}
.aside table{
	margin: 1em 1em;
}
.mails{
	
	width: 88em;
	border-bottom: 1px solid black;
}
}
.mails ul li{
	display: inline-block;
}
#main_btn li{
	display: inline-block;
	background-color: gray;
	font-size: 20px;
	border: 1px solid white;
	float: center;
	width: 8em;
	height: 2em;
	padding-left: 4em;
	padding-top: 1em;
}
#main_btn li a{
	display: inline-block;
	text-decoration: none;
	color: white;
}
.plus{
	margin-top: 5px;
	margin-left: 8px;
	background-color: gray;
	font-size: 20px;
	border: 1px solid white;
	float: center;
	width: 30px;
	height: 45px;
	padding-left: 7px;
	padding-top: 15px;
	display: inline-block;
}
.plus ul li a{
	text-decoration: none;
	color: white;
}
.main_list table tr td{
	padding-right: 20px;
	height: 2em;
}
#main_items tr{
	border-bottom: 1px solid black;
}
.mailings{
	width: 70em;
}
.date{
	padding-left: 6px;
}
.mails div table tr td{
	border-bottom: 1px solid black;
}